@import "tipography";
@import "resetPage";
@import "grid";





#siteLogo {
    width: 8%;
    height: auto;
    margin-left: 50%;
    margin-top: 2vh;
}

.navBar {
    padding-right: 4%;
}

.navBarList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 1rem;

    .navBarItem {
        list-style-type: none;

        &:hover {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 14px;

        }
    }

}


.cover {
    width: 100%;
    height: 90vh;
    background-image: url("../img/imgCoverBackground.jpg");
    background-size: cover;


}

/*Sections*/
.titleSection {
    text-align: center;
    padding: 2rem 2rem;
}


.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .divCards {
        width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border: white;
        border-radius: 5px;
        margin: 2%;

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        p {
            text-align: center;
            padding: 1rem;
            font-size: 14px;

        }

        .titleCard {
            text-align: center;
            padding: 1rem 1rem;
        }

        .buttonCard {
            width: 30%;
            height: 6vh;
            margin-left: 34%;
            margin-bottom: 1rem;
            background-color: #eec0c6;
            background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
            transition: all .3s;
            color: white;
            border-radius: 5px;
            border-style: none;

            &:hover {
                transition: all .3s;
                background-color: #7f5a83;
                background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
                background-position: 0 -85px;
            }
        }


    }
}

.buttonCard--modifier {
    width: 15%;
    height: 7vh;
    margin-left: 76%;
    font-size: 15px;
    margin-top: 1rem;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    transition: all .3s;
    color: white;
    border-radius: 5px;
    border-style: none;

    &:hover {
        transition: all .3s;
        background-color: #7f5a83;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        background-position: 0 -85px;
    }
}

//Section Comments//
.titleSectionComments {
    text-align: center;
    margin-top: 10vh;

}

.comments {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
    color: gray;

    .divCards {
        width: 30%;
        height: 40vh;
        text-align: center;
        display: inline-block;
        border: solid;

        p {
            padding-top: 15vh;
        }
    }


}

.footer {
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
}

.footerIndex {
    margin-left: 0%;
}

.navBarListFooter {
    a{    
    
        text-decoration: none;
        color:black;
        font-size: 13px;   
        
    }
    .navBarItemFooter {
        list-style-type: none;
        &:hover{
            text-decoration: underline;
        }

    }
}
.listSocialMedia{
    a{
        list-style-type:none;
        text-decoration: none;
        color: black;
    }
    .socialMediaItem{
        list-style-type: none;
     
        &:hover{
            text-decoration: underline;
        }
    }
}